@import '../../node_modules/normalize.css/normalize';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $ff-general, sans-serif;
  font-weight: $fw-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentcolor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
