// font weights
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

// font families
$ff-general: 'IBM Plex Mono';
$ff-accent: 'PressStar2P';

// colors
$text-color: #000;
$accent-color: #222;

// z-index layers
$z-bullets: 2;
$z-tower: 3;
$z-tower-radius: 3;
$z-enemy: 2;
